*{
    margin: 0%;
    font-family: Arial;
    border: border-box ;
}
/* .hovereffect :hover{
    border: 1px solid white;

}
.amannavbar {
    height: 50px;
    width: 150px; */
    /* object-fit: contain; */
    /* background-image: url("WhatsApp_Amazon1.png") ;
    background-color: #0f1111; 
    color: white;
    background-size: contain;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
} */
/* .amannavlogo{
    height: 50px;
    width: 100px;
    object-fit: cover;
} */
/* .amanlogo{
    object-fit: cover;
background-image: url("WhatsApp_Amazon1.png") ; */
/* background-size: cover; */
/* height: 50px;
width: 100px;
/* position: fixed;
top: 0.5%; */
/* }
.border{
    border: 1.5px solid transparent;
}
.aman-address-border:hover{
    border: 1.5px solid white;
} */
/**box2*/
/* .add-first{
color: #cccccc;
font: size 0.85rem; 
margin-left: 15px;
}
 
.add-sec{
font-size: 1rem;
 margin-left: 3px;
}

.add-icon{
    display: flex;
    align-items: center;
} */

/* box3 */
/* .amannav-search{
    display: flex;
    justify-content:space-evenly;
    background-color: pink ;
    width: 620px;
    height: 40px;
    border-radius: 4px;
    margin-left:1.5%;
}
.search-select{
    background: color #f3f3f3; ; */
    /* border-radius: 4px; */
    /* width: 50px;
    text-align: center;
    border-top-left-radius: 4px; */
    /* border-bottom-left-radius: 4px;
    border: none; */
/* } */
/* .search-input{
    width: 100%;
    font-size: 1rem;
    border: none; */

/* } */ 
/* .search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
    
}
.aman-address-border{
    margin-left: 4%; */
/* } */
/* box4 */
/* span;wkfemnqe;f
    font-size: 0.7rem;

}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
.order-second{
    font-weight:700 ;
} */


.navbar{
    height: 80px;
    width: 100%;
    background-color: #131921;
    border: 2px solid black;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    justify-content: space-evenly;
    
}

 .logo{
    height: 50px;
    width: 150px;
    background-color: white;
    border: 2px solid black;
    
} 
.address{
    color: white;
}
.mui{
    font-weight: 700;
}

.searchbox{
    display: flex;
    width:620px;
    height:40px ;
    justify-content: space-evenly;
}
.account{
    color: white;
}
.order{
    color: white;
    
}
.order-sec{
    font-weight: 700;
}
.nav-sec{
    font-weight: 700;
}
.cart{
   font-size: 30px;
    color: white;
    font-weight: 700%;

}
.search-select{
    background: color #f3f3f3;
    width: 50px;
    text-align: center;
    border-bottom-left-radius: 4px;
    /* height: 44.8px; */
    border: transparent;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border-bottpm-right-radius: 4px;
    border: transparent;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}
/* .logo-hovereffect{
   height: 40px;
   width: 150px;
} */
.logo-hovereffect img{  
    height :50px ; 
    width :150px; 
    object-fit:cover; 
    /*border: 2px solid white;*/
}
.searchbox:hover{
    border: 2px solid orange;
}
.hovereffect:hover{
    border: 2px solid white;
    /* display: flex;
    justify-content: center;
     */
     /* object-fit: cover; */
}


.nav-left{
    height: 30px;
    width: 100%;
    color: white;
    background-color: #222f3d;
    display: flex;
    /* justify-content: space-evenly; */
    gap: 20px;
    align-items: center;
    font-weight: 600;
    font-size: 0.85rem;
    
}
.nav-right{
    display: flex;
    justify-content: start;
    align-items: center;
    text-wrap: nowrap;
    position: relative;
    right:0.5%;
    font-weight: 600;
    font-size: 0.85rem;
}
.nav2{
display: flex;
height: 35px;
width: 100%;
background-color: #222f3d;
color: white;

}
.con_img{
    display: flex;
    justify-content: center;
    height: 350px;
    width: 100%;
}
.con_img img{
    height: 350px;
    width: 100%;
    object-fit: cover;
}
.con-msg{
    display: flex;
   width: 100%;
   /* height: 3px; */
   justify-content: center;
   position: relative;

}
.msg{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    bottom: 70px;
    position: absolute;
    height: 40px;
    width: 80%;
    background-color: white;
    color: #0f1111;

}
.con-msg a{
    color: #007185
}
.shop-sec{
    display: flex;
    justify-content: space-evenly;
    background-color: burlywood

    
}
.box{
    height: 400px;
    width: 23%;
    /* border: 2px solid black; */
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
    justify-content: center;

}
.box-img{
    height: 300px;
    /* width: 200px; */
    background-size:cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem ;
}
.box-img img{
    width: 300px;
    height: 100%;
}
.con-color{
    color: #007185;
}

.foot{
    background-color:#37475a ;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;

}
.foot2{
    background-color: #131921;
    color: white;
    height:300px ;
    display: flex;
    justify-content: space-evenly;
    /* margin-top: 10px; */
}
ul{
    margin-top: 30px;
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddd;
    
}
.foot3{
    background-color: #131921;
    height: 70px;
    border-top: 0.5px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
   background-size: cover;
   height: 50px;
   width: 150px; 
   
}
.foot4{
    background-color: #131921;
    color: white;
    /* display: flex;
    justify-content: center; */
    height:80px ;
    font-size: 0.7rem;
    text-align: center;
    width: 100%;
}
.pages{
    font-size: 0.7rem;
    text-align: center;
    padding-top:25px; ;
}
.copyright{
   
    padding-top:5px ;
}